
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-weight: normal;
  margin: 0 0 20px 0;
}

h1 {
  font-size: 45px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 18px;
}

p, li {
  font-size: 16px;
  line-height: 22px;
}
