h1, h2, h3, h4, h5, h6 {
  color: black;
  line-height: normal;
  margin: 0 0 20px 0;
}


h1 {
  font-size: 60px;
  line-height: 60px;
}
h2 {
  font-size: 50px;
  line-height: 50px;
}
h3 {
  font-size: 40px;
  line-height: 40px;
}
h4 {
  font-size: 30px;
  line-height: 30px;
}
h5 {
  font-size: 25px;
  line-height: 25px;
}
h6 {
  font-size: 20px;
  line-height: 20px;
}


p {
  font-size: 20px;
  line-height: 20px;
}
