/* Grid Settings
========================================================= */
$desktop: (
  columns: 12,
  gutter: 20px,
  media: "screen and (min-width: 1025px)",
  );

$tablet: (
  columns: 4,
  gutter: 20px,
  media: "screen and (max-width: 1024px)",
  );

$tablet-up: (
  columns: 4,
  gutter: 20px,
  media: "screen and (min-width: 768px)",
  );

$mobile: (
  columns: 2,
  gutter: 20px,
  media: "screen and (max-width: 767px)",
  );

@mixin content-container( $width: 1420px ) {
  max-width: $width;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin nested-wrap{
 @include grid-container;
 @include grid-media($desktop) {
   @include grid-collapse;
 }
}

.container {
  @include content-container;
  @include grid-container;
}

.content-inner {
 @include nested-wrap;
}
