/* Reusable Flex Classes (to mitigate prefix bloat)
========================================================= */

// Global
.grid {
  display: grid;
}

.flex, %flex {
  display: flex;
  @include for-size(tablet-sm) {
    flex-direction: column;
    > div {
      flex-basis: auto !important;
    }
  }
}
.wrap, %wrap {
  flex-wrap: wrap;
}
.reverse, %reverse {
  @include for-size(tablet-sm, up) {
    flex-direction: row-reverse;
  }
}

// Justify Content
.jcfs, %jcfs {
  justify-content: flex-start;
}
.jcc, %jcc {
  justify-content: center;
}
.jcsb, %jcsb {
  justify-content: space-between;
}
.jcsa, %jcsa {
  justify-content: space-around;
}

// Align Items
.aic, %aic {
  align-items: center;
}
.aifs, %aifs {
  align-items: flex-start;
}
.aife, %aife {
  align-items: flex-end;
}

// Align Self
.asc, %asc {
  align-self: center;
}
.asfs, %asfs {
  align-self: flex-start;
}
.asfe, %asfe {
  align-self: flex-end;
}
