/* Responsive Queries
========================================================= */

// A map of breakpoints.
$breakpoints: (
  phone-sm: 420px,
  phone: 767px,
  tablet: 768px,
  tablet-lg: 1024px,
  desktop: 1025px,
  desktop-lg: 1600px
  );

/* ONE DIRECTIONAL */

@mixin for-size($breakpoint, $direction:down) {

// If the breakpoint exists in the map.
@if map-has-key($breakpoints, $breakpoint) {

// Get the breakpoint value.
$breakpoint-value: map-get($breakpoints, $breakpoint);

// Determine the direction and then write the media query.
@if $direction == up {
  @media (min-width: $breakpoint-value) {
    @content;
  }
}
@else if $direction == down {
  @media (max-width: $breakpoint-value - 1) {
    @content;
  }
}
}
// If the breakpoint doesn't exist in the map, pass a manual breakpoint
@else {
  @if $direction == up {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
  @else if $direction == down {
    @media (max-width: $breakpoint - 1) {
      @content;
    }
  }
}
}

/* BI-DIRECTIONAL */

@mixin between-sizes($lower, $upper) {

// If both the lower and upper breakpoints exist in the map.
@if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {

// Get the lower and upper breakpoints.
$lower-breakpoint: map-get($breakpoints, $lower);
$upper-breakpoint: map-get($breakpoints, $upper);

// Write the media query.
@media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint)) {
  @content;
}
}
// If the breakpoints don't exist, allow manual breakpoints
@else {
  @media (min-width: $lower) and (max-width: ($upper)) {
    @content;
  }
}
}
