/* Fonts
========================================================= */



/* Headings
========================================================= */
h1, h2, h3, h4, h5, h6 {
  color: black;
  line-height: normal;
  margin: 0 0 20px 0;
}
h1 {
  font-size: 60px;
  line-height: 60px;
  @include for-size(phone) {

  }
}
h2 {
  font-size: 50px;
  line-height: 50px;
  @include for-size(phone) {

  }
}
h3 {
  font-size: 40px;
  line-height: 40px;
  @include for-size(phone) {

  }
}
h4 {
  font-size: 30px;
  line-height: 30px;
  @include for-size(phone) {

  }
}
h5 {
  font-size: 25px;
  line-height: 25px;
  @include for-size(phone) {

  }
}
h6 {
  font-size: 20px;
  line-height: 20px;
  @include for-size(phone) {

  }
}

/* Body
========================================================= */
body, html {
  overflow-x: hidden;
}

body {
  @include font;

  main  {
    p, li {
      font-size: 20px;
      line-height: 30px;
      @include for-size(phone) {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  em {
    font-style: italic;
  }
  a, a[href^="tel"] {
    @include trans;
    color: inherit;
    &:hover, &:focus {
      color: red;
    }
  }
  p {
    margin-bottom: 20px;
  }
  br {
    @include for-size(phone) {
      display: none;
    }
  }
} // END body
