/* Fonts
========================================================= */



/* Headings
========================================================= */
h1, h2, h3, h4, h5, h6 {
  color: black;
  line-height: 1.2;
  margin: 0 0 20px 0;
}
h1 {
  font-size: em(60);
  @include for-size(tablet-sm) {

  }
}
h2 {
  font-size: em(50);
  @include for-size(tablet-sm) {

  }
}
h3 {
  font-size: em(40);
  @include for-size(tablet-sm) {

  }
}
h4 {
  font-size: em(30);
  @include for-size(tablet-sm) {

  }
}
h5 {
  font-size: em(25);
  @include for-size(tablet-sm) {

  }
}
h6 {
  font-size: em(20);
  @include for-size(tablet-sm) {

  }
}

/* Body
========================================================= */
body {
  @include font;
}

  main {
    p, li {
      font-size: em(20);
      line-height: 1.2;
      margin-bottom: 20px;
      @include for-size(tablet-sm) {
        font-size: 1em;
      }
    }
  }

  blockquote {
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  a, a[href^="tel"] {
    @include trans;
    color: red;
    &:hover, &:focus, &:active {
      color: red;
    }
  }

  em {
    font-style: italic;
  }

  br {
    @include for-size(tablet-sm) {
      display: none;
    }
  }
