/* Fonts
========================================================= */

@mixin FONT( $STYLE:style ) {
  @if $STYLE == 'style' {
    font-family: 'FONT_FAMILY';
  }
  @elseif $STYLE2 == 'style2' {
    font-family: 'FONT_FAMILY2';
  }
}


/* Headings
========================================================= */
h1, h2, h3, h4, h5, h6 {
  color: black;
  line-height: normal;
  margin: 0 0 20px 0;
}
h1 {
  font-size: 60px;
  line-height: 60px;
  @include for-size(phone) {

  }
}
h2 {
  font-size: 50px;
  line-height: 50px;
  @include for-size(phone) {

  }
}
h3 {
  font-size: 40px;
  line-height: 40px;
  @include for-size(phone) {

  }
}
h4 {
  font-size: 30px;
  line-height: 30px;
  @include for-size(phone) {

  }
}
h5 {
  font-size: 25px;
  line-height: 25px;
  @include for-size(phone) {

  }
}
h6 {
  font-size: 20px;
  line-height: 20px;
  @include for-size(phone) {

  }
}

/* Body
========================================================= */
body {

}
main  {
  p, li {
    font-size: 20px;
    line-height: 30px;
    @include for-size(phone) {
      font-size: 16px;
      line-height: 26px;
    }
  }
  ol {
    list-style: none;
    counter-reset: custom-counter;
  }
  ol li {
    counter-increment: custom-counter;
  }
  ol li:before {
    content: counter(custom-counter) ". ";
    font-weight: bold;
  }
}
em {
  font-style: italic;
}
a, a[href^="tel"] {
  color: inherit;
  &:hover {
    color: red;
  }
}

br {
  @include for-size(phone) {
    display: none;
  }
}
