/* Containers
========================================================= */
@mixin content-container( $width: 1130px ) {
  max-width: $width;
  margin: 0 auto;
  padding: 0 15px;
}
.container {
  @include content-container;
}


/* Fonts
========================================================= */
@mixin font() {
  font-family:'FONT-FAMILY-NAME';
  // weights e.g., 400, 500, 700
}

/* Color VARs
========================================================= */



/* EM to PX
========================================================= */
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

/* BG Image
========================================================= */
@mixin bg( $sizing:cover, $position:center, $repeat:no-repeat ) {
	background: {
		position : $position;
		repeat   : $repeat;
		size     : $sizing;
	}
}

/* Global Row Padding
========================================================= */
@mixin row-padding(
	$top-large:100,  $bottom-large:100,
	$top-small:50,   $bottom-small:50) {

	@include for-size(tablet, up) {
		padding-top:    $top-large + px;
		padding-bottom: $bottom-large + px;
	}
	@include for-size(tablet) {
		padding-top:    $top-small + px;
		padding-bottom: $bottom-small + px;
	}
}

/* Global Transition ( 400, all, ease-in-out )
========================================================= */
@mixin trans( $duration:600, $property:all, $easing:cubic-bezier(.23,1,.32,1)) {
	transition: $property $duration+ms $easing;
}

/* Font Awesome 5 ( needs content specified )
========================================================= */
@mixin fa {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900; // 300 also valid for Free version
	-webkit-font-smoothing: antialiased;
}

/* Button ( color, background, border )
========================================================= */
%btn {
	@include trans();
	border: none;
	cursor: pointer;
	display: inline-block;
	padding: 10px 40px;
	text-align: center;
	user-select: none;
	vertical-align: baseline;
	-webkit-appearance: none;
	font-size: 16px;
}
@mixin button($color:black, $bg:white, $border:black) {
	@extend %btn;
	background-color: $bg;
	border: 2px solid $border;
	color: $color;
	&:hover, &:focus {
		color: $bg;
		background-color: $color;
		border-color: $border;
	}
}
