/* Core Form Styles
========================================================= */

// Placeholder
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

$input-border-width: 2;
$input-border-color: black;
$input-border-active-color: red;
$input-border-radius: 0;
$input-box-shadow: none;

form input[type], form select, form textarea {
  @include trans( $easing:linear );
  display: inline-block;
  border: $input-border-width+px solid $input-border-color;
  box-shadow: $input-box-shadow;
  border-radius: $input-border-radius+px;
  padding: 10px 15px !important;
  font-family: inherit;
  color: black;
  @include placeholder {
    color: black;
  }
}

form input[type]:focus, form select:focus, form textarea:focus {
  outline: 0;
  border-color: $input-border-active-color;
}

form input[type=file]:focus, form input[type=radio]:focus, form input[type=checkbox]:focus {
  outline: 1px auto $input-border-active-color;
}


/* Gravity Form Error Styles
========================================================= */
.gform_wrapper.gform_validation_error {
  .validation_message, li.gfield.gfield_error .gfield_description {
    font-size: 12px;
    font-weight: normal;
    display: none;
  }
  li.gfield.gfield_error, li.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparent !important;
    border: none !important;
    padding: 0;
    &.gfield_contains_required label.gfield_label {
      margin-top: 0;
    }
  }
  li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    border: $input-border-width+px solid $input-border-color;
    border-color: red !important;
  }
  .top_label .gfield_error {
    width: 100%;
    &.ginput_container {
      max-width: 100%;
    }
  }
  .gfield_error {
    input[type="text"], input[type="email"], input[type="tel"], textarea {
      border-color: red !important;
    }
    .gfield_label {
      color: red;
    }
  }
  .gfield_required {
    color: red !important;
  }
  li.gfield.gfield_error.gfield_contains_required {
    label.gfield_label, div.ginput_container {
      color: red !important;
    }
  }
}
.validation_error {
  color: red !important;
  font-size: 11px !important;
  display: none;
}
.gform_confirmation_wrapper {
  .gform_confirmation_message {
    margin: 0;
  }
}
.gform_validation_container {
  display: none !important;
  left: -9000px;
  position: absolute !important;
}


/* Global Form Default Styles
========================================================= */
.gform_wrapper {
  margin: 0;
  form {
    .gform_body {
      ul {
        @include list-reset;
        li {
          margin-bottom: 15px;
          .gfield_label {
            .gfield_required {
              color: red;
            }
          }
          input, textarea {
            width: 100%;
          }
          .ginput_container_consent {
            display: flex;
            align-items: center;
            input {
              width: auto;
              margin-right: 20px;
            }
          }
        }
      }
    }
    
    .gform_footer {

      button {

      }
    }
  }
}
