/* Mobile NAV
========================================================= */
$menu-background         : white;
$menu-border-color       : white;
$resting-toggle-color    : black;
$active-toggle-color     : black;
$menu-dropdown-color     : white;
$link-color              : black;
$link-background         : white;
$link-hover-color        : white;
$link-hover-background   : black;
$link-border-color       : #eee;
$current-link-background : black;
$current-link-color      : white;

.mobile-nav-wrap {
  display: none;
}
.navbar-toggle {
  background: none;
  border: none;
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 10000;
  .title {
    color: black;
    float: left;
    font-size: 15px;
    font-weight: 500;
    margin: -2px 0 0 -50px;
    text-transform: uppercase;
  }
  .icon-bar {
    background: $resting-toggle-color;
    border-radius: 5px;
    display: block;
    height: 3px;
    margin-bottom: 7px;
    width: 32px;
    &:first-child,
    &:last-child {
      @include trans;
      transform: translate(0);
    }
    &:nth-child(2n):before,
    &:nth-child(2n):after {
      @include trans;
      background-color: $active-toggle-color;
      border-radius: 5px;
      content:'';
      display: block;
      height: 3px;
      left: 0;
      margin-bottom: 7px;
      opacity: 0;
      position: absolute;
      top: 34%;
      transform: rotate(0deg);
      width: 32px;
    }
  }
}

.navbar-toggle {
  display: none;
}

/* Initiate Mobile Nav
========================================================= */
@include for-size(tablet-lg) {

  main {
    margin-top: 60px;
  }
  .brand {
    display: none;
  }
  .main-nav-wrap {
    display: none;
  }
  .mobile-nav-wrap {
    background: $menu-background;
    border-bottom: $menu-border-color;
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    min-height: 60px;
    width: 100%;
    z-index: 3000;
    .mobile-brand {
      position: absolute;
      top: 15px;
      left: 15px;
      img {
        display: block;
        width: 150px;
      }
    }
    .mobile-nav {
      background: $menu-background;
      clear: both;
      display: none;
      height: 1500px;
      left: 0;
      position: absolute;
      top: 60px;
      width: 100%;
      z-index: 9999;
      ul {
        margin: 0;
        padding: 0;
        text-align: left;
        li {
          display: block;
          position: relative;
          margin: 0;
          border-bottom: 1px solid $link-border-color;
          > a {
            @include trans();
            background-color: $link-background;
            color: $link-color;
            display: block;
            font-size: 16px;
            letter-spacing: 2px;
            line-height: 24px;
            margin: 0;
            padding: 15px 15px 15px 25px;
            text-transform: uppercase;
            &:hover {
              background-color: $link-hover-background;
              color: $link-hover-color;
            }
          }
          .expand {
            @include trans();
            background-color: transparent !important;
            background-image: url('assets/img/svg/caret-right.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 15px 15px;
            display: block;
            padding: 27px 27px 27px 36px;
            position: absolute;
            right: 0px;
            transform-origin: center center;
            z-index: 1000;
            &:hover {
              transform: rotate(-180deg);
            }
          }
          .close-sub {
            display: block;
            width: 50px;
            height: 20px;
            background:url(assets/img/svg/nav-arrow-left.svg) 0 0 no-repeat;
            background-color: transparent !important;
            position: absolute;
            top: 15px;
            left: 15px;
            z-index: 2000;
            @include trans;
            &:hover {
              transform:translateX(-5px);
            }
          }
          .sub-menu {
            @include trans;
            background-color: $link-background;
            border: none;
            height: 100%;
            opacity:0;
            padding-top: 60px;
            position: fixed;
            text-align: center;
            top: 0;
            transform:translateX(100%);
            visibility: visible;
            width: 100%;
            z-index: 4000;
            &.sub-open {
              opacity: 1;
              transform:translateX(0);
            }
            &:before {
              display: none;
            }
            li {
              text-align: left;
              border-bottom: 1px solid $link-border-color;
              a {
                border: none;
                color: $link-color;
                display: block;
                letter-spacing: 1px;
                padding-top: 10px;
                padding-bottom: 10px;
                text-transform: none;
                &:hover {
                  color: #fff;
                }
              }
            }
          }
          &.menu-item-has-children {
            &:hover {
             .sub-menu {
               &:before {
                display: none;
              }
            }
          }
        }
        &.sub-active > a {
          border-color: #4f4f52 !important;
        }
        &.current-menu-item,
        &.current-page-ancestor {
          > a {
            background-color: $current-link-background;
            color: $current-link-color;
          }
        }
      }
    }
  }
  &.open {
    a {
      .icon-bar {
        @include trans;
        background: $active-toggle-color;
        &:first-child,
        &:last-child {
          opacity: 0;
        }
        &:first-child {
          transform: translate(0,10px);
        }
        &:last-child {
          transform: translate(0,-10px);
        }
        &:nth-child(2n) {
          background: transparent;
          &:before {
            opacity: 1;
            transform: rotate(46deg);
          }
          &:after {
            opacity: 1;
            transform: rotate(-46deg);
          }
        }
      }
    }
  }
}

.navbar-toggle {
  display: block;
  float: right;
}

} // END
