body.search-results {
  .container {
    @include content-container(1150px);
  }
  h2 {
    text-align: center;
    em {
      color: black;
    }
  }
}

.search-index {
  padding: 100px 0;
}

.search-result-entries {
  @include for-size(tablet, up) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.search-result-entry {
  @include trans;
  color: black;
  display: block;
  border: 1px solid #eee;
  margin: 25px 10px 25px 10px;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(#ccc, 0.4);
  @include for-size(tablet, up) {
    width: 23%;
  }
  * {
    @include trans;
  }
  &:hover {
    box-shadow: 0px 0px 10px rgba(black, 0.4);
    .view-result, h5 {
      color: black;
    }
  }
  h2 {
    font-size: em(18);
    line-height: 1.4;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
  }
  p {
    font-size: em(14);
    line-height: 1.4;
  }
  a {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
}
